.titre-1{
color: #3B8E46;
text-align: center;
font-family: Syne;
font-size: 38px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}

.energie {
    color: #3B8E46;
text-align: center;
font-family: Syne;
font-size: 38px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}

.texte-1 {
    color: #000;
text-align: center;
font-family: Syne;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.grille-gouts{
gap:30px
}



.fraise {
    color: #FFF;
text-align: center;
font-family: Syne;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}



.pamp {
    color: #FFF;
text-align: center;
font-family: Syne;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.fram {
    color: #FFF;
text-align: center;
font-family: Syne;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.citron {
    color: #FFF;
text-align: center;
font-family: Syne;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.les-gouts .bouton-com {
    display: flex;
width: 198px;
height: 55px;
padding: 9px 57px 9px 56px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.titre-2 {
    color: #3B8E46;
text-align: center;
font-family: Syne;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}

.bouton {
    width: 236px;
height: 80px;
flex-shrink: 0;
background: #DC9F96;
color: #FFF;
text-align: center;
font-family: Syne;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.link-nav{
    color: #000;
font-family: Syne;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.link-nav:hoover {
    display: flex;
    width: 142px;
    height: 19px;
    padding: 1px 14px 2px 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: ;
}
